.menu-button
  background: #444
  background-size: cover
  background-position: 50% 50%
  background-repeat: no-repeat

.menu-button-text
  color: #fff
  font-family: 'Source Sans Pro', sans-serif
  font-size: 17pt
  text-align: center
  text-shadow: 2px 2px 3px #000

.menu-title
  color: #fff
  font-family: 'Source Sans Pro', sans-serif
  font-size: 17pt

.menu-settings-icon i
  color: #fff

.menu-bg
  background-color: #000

.menu-button.menu-venues
  background-image: url('../assets/img/menu-venues.jpg')

.menu-button.menu-schedule
  background-image: url('../assets/img/menu-schedule.jpg')

.menu-button.menu-open
  background-image: url('../assets/img/menu-open.jpg')

.menu-button.menu-people
  background-image: url('../assets/img/menu-people.jpg')

.menu-button.menu-timer
  background-image: url('../assets/img/menu-timer.jpg')

.menu-button.menu-guide
  background-image: url('../assets/img/menu-guide.jpg')

.menu-button.menu-maps
  background-image: url('../assets/img/menu-maps.jpg')

@keyframes kenburns {
  0% { background-position: 50% 50% }
  25% { background-position: 100% 50% }
  75% { background-position: 0% 50% }
  100% { background-position: 50% 50% }
}

.menu-button
  //animation: kenburns 100s infinite
  //animation-timing-function: ease-in-out
