.timer-text
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: text-color
  font-size: 3em

.timer-circle
  .circle
    width: 95%
    height: 95%
    left: 2.5%
    top: 2.5%
    position: relative
    border-radius: 50%
    background-color: title-bar-color

    .loader
      position: relative
      width: 100%
      height: 100%
      float:left
      user-select: none
      box-sizing: border-box
    .spiner-holder-one
      position: absolute
      top:0
      left:0
      overflow: hidden
      width: 50%
      height: 50%
      background: transparent
      box-sizing: border-box
    .spiner-holder-two
      position: absolute
      top:0
      left:0
      overflow: hidden
      width: 100%
      height: 100%
      background: transparent
      box-sizing: border-box
    .loader-spinner
      width: 200%
      height: 200%
      border-radius: 50%
      border: 10px solid
      box-sizing: border-box
      transition: border-color 1s linear
      
    .animate-0-25-a
      transform: rotate(90deg)
      transform-origin: 100% 100%
    .animate-0-25-b
      transform: rotate(-90deg)
      transform-origin: 100% 100%
    .animate-25-50-a
      transform: rotate(180deg)
      transform-origin: 100% 100%
    .animate-25-50-b
      transform: rotate(-90deg)
      transform-origin: 100% 100%
    .animate-50-75-a
      transform: rotate(270deg)
      transform-origin: 100% 100%
    .animate-50-75-b
      transform: rotate(-90deg)
      transform-origin:100% 100%
    .animate-75-100-a
      transform: rotate(0deg)
      transform-origin: 100% 100%
    .animate-75-100-b
      transform: rotate(-90deg)
      transform-origin: 100% 100%

.timer-circle.timer-idle .loader-spinner
  border-color: #e3007a

.timer-circle.timer-early .loader-spinner
  border-color: #2980b9

.timer-circle.timer-beginning .loader-spinner
  border-color: #27ae60

.timer-circle.timer-ending .loader-spinner
  border-color: #f39c12

.timer-circle.timer-late .loader-spinner
  border-color: #e74c3c
