include ../../mixins

+section
  .settings
    .settings-row
      .settings-label 
        span Animations
      .settings-switch
        input(id='settings-animations-toggle', type='checkbox', data-setting='animations').cmn-toggle.cmn-toggle-yes-no
        label(for='settings-animations-toggle')
          div.on
            span On
          div.off
            span Off

  h2 About

  p Application developed by 
    a(href='http://readfwd.com') ReadForward
  p ARGO Open organized by 
    a(href='http://argodebate.ro') ARGO Debate
    |, Romania

  h2 Contact

  p For media and app-related concerns, contact 
    a(href='mailto:marius@argodebate.ro') Marius Petcu
    |, ARGO's IT Officer

  p For anything else, 
    a(href='mailto:office@argodebate.ro') leave us a note
    |.
