submenu-border-color=#333

ul.submenu
  list-style-type: none
  padding: 0
  margin: 0

  display: table
  width: 100%

  li
    display: table-row
    width: 100%

    &:before
      display: table-cell
      width: 1em
      height: 3.5em
      content: ''
      border-bottom: submenu-border-color 1px solid

    .link
      padding: 0.5em 0.5em 0.5em 0
      border-bottom: submenu-border-color 1px solid
      display: table-cell
      vertical-align: middle

      .submenu-container
        display: inline

      &
      &:link
      &:active
      &:visited
      &:hover
        text-decoration: none
        color: text-color

      .submenu-caption
        color: darken(text-color, 20%)
        font-size: 80%

      .submenu-title
        font-size: 120%

        .debaters
          display: block

          &:before
            content: 'Debaters:'
            color: #ff1111
            margin-right: 0.5em
            width: 4.3em
            font-size: 60%
            display: inline-block

        .judges
          display: block

          &:before
            content: 'Judges:'
            color: #0093ff
            margin-right: 0.5em
            font-size: 60%
            width: 4.3em
            display: inline-block



    &:active
      background-color: rgba(255, 255, 255, 8%)
