include ../../mixins

+article
  +section
    h2 Carol I Central University Library

    p ARGO Open will have its final housed by one of Romania’s oldest libraries. This institution is dedicated to education, so in that spirit it has lent one of its halls to our movement. 
