include ../../mixins

+article
  +section
    h2 OK Bulevard

    p OK Bulevard is one of the culinary landmarks of Ploiești. Dating back to the 1930s, it has hosted generations of foodlovers in a welcoming and chill atmosphere. Its amazing history can also be perceived in its unique arhitecture and that is why no Ploiești experience can be complete without a visit to this iconic restaurant. So be excited about the luch that you will take there for you will hardly forget it.
