include ../../mixins

+article
  +section
    h2 Hotel Central

    p The Polyvalent Hall is the most charming place in Ploiești. We will celebrate the Break Night in the most exclusive restaurant at Central Hotel Ploiești. 
