include ../../mixins

+article
  +section
    h2 Da Vinci

    p For the residents of Ploiești, the Da Vinci restaurant always sparks to mind as the place to go when you want to eat the food of your childhood. Serving some of the best traditional Romanian food and sporting a rustic garden setting, we chose this place as the judges' social's venues. 
