include ../../mixins

+article
  +section
    h2 Dorms

    p The dorms of the Lazăr Edeleanu highschool are well known in Ploiești for the accomodation of choice when it comes to highschool olympiads. Tough it features the obvious downfalls of a highschool dorm (when compared to a hotel), we vouch that you will not be dissapointed by your stay at these dorms.
