include ../../mixins

+article
  +section
    h2 Dublin Pub

    p Free Beer is unfortunately just the name of a Romanian band, but you can enjoy over 30 types of beer here at the Judges Social. Don’t forget to be responsible! 
