include ../../mixins

+submenu
  +submenu-item('app/venues/teatrul', T, 'The Theatre')
    +submenu-caption(T, 'Opening Ceremony')
    +submenu-page-id('teatrul')
  +submenu-item('app/venues/spiru', T, 'Spiru Haret College')
    +submenu-caption(T, 'Rounds')
    +submenu-page-id('spiru')
  +submenu-item('app/venues/bcu', T, 'Central University Library')
    +submenu-caption(T, 'Final Venue')
    +submenu-page-id('bcu')
  +submenu-item('app/venues/nord', T, 'Hotel Nord')
    +submenu-caption(T, 'Accomodations, Cultural Night')
    +submenu-page-id('nord')
  +submenu-item('app/venues/pitstop', T, 'Pit Stop Hostel')
    +submenu-caption(T, 'Accomodations')
    +submenu-page-id('pitstop')
  +submenu-item('app/venues/dorms', T, 'Dorms')
    +submenu-caption(T, 'Accomodations')
    +submenu-page-id('dorms')
  +submenu-item('app/venues/central', T, 'Hotel Central')
    +submenu-caption(T, 'Break Night Dinner')
    +submenu-page-id('central')
  +submenu-item('app/venues/bulevard', T, 'OK Bulevard')
    +submenu-caption(T, 'Lunch 10th')
    +submenu-page-id('okbulevard')
  +submenu-item('app/venues/ok', T, 'Bistro 29')
    +submenu-caption(T, 'Social 11th')
    +submenu-page-id('ok')
  +submenu-item('app/venues/davinci', T, 'Da Vinci Restaurant')
    +submenu-caption(T, 'Judges Social')
    +submenu-page-id('davinci')
  +submenu-item('app/venues/irish', T, 'Shamrock Pub')
    +submenu-caption(T, 'Social 12th')
    +submenu-page-id('irish')
