include ../../mixins

+article
  +section
    h2 Hotel Nord

    p On August the 8th 1870, the Republic of Ploiești (google it, it's an interesting piece of history) was created right where today this hotel is situated. Nowadays, Ploiești is just a city and this hotel is ready to receive you as its guests. 
