include ../../mixins

+article
  +section
    h2 Hotel Nord

    p On August the 8th 1870, the Republic of Ploiesti was created right where today this hotel is situated. Long since then Ploiesti is just a city and this hotel is ready to receive you as guests. 
