include ../../mixins

+article
  +section
    h2 OK Pub

    p When you organize a social you want to have an ok venue, so what is better than this Pub? Worry not, this place is not just OK, it’s above average. 
