include ../../mixins

+article
  +section
    h2 Bistro 29

    p Previously known as "OK Pub", Bistro 29 features an underground dance and club floor available all just for us. We bring the music, you bring your dancing shoes and the party is on.
