include ../../mixins

+article
  +section
    h2 Pit Stop Hostel

    p Modern and eager to please, this hostel is close to the rounds venue and it promises to be just as the name portrays: a traveler’s perfect pit stop. 
