include ../../mixins

+article
  +section
    h2 Spiru Haret College

    p Our rounds will be held at the Spiru Haret College, an institution dedicated to high quality education and known for it’s technological and mathematical oriented curriculum. Several of our top debaters and trainers come from here. We are glad that Spiru Haret College supports the debating movement. 
