include ../../mixins

+article
  +section
    h2 Toma Caragiu Theatre

    p The opening ceremony will be held in the Toma Caragiu Theatre. The institution has been active for 60 years and is a good friend of ARGO, having had previously housed our events a number of times.
