include ../../mixins

+article
  +section
    .profile
    +img('img/people/alina.jpg')

    h2 Alina Măcelaru
    h3 Socials Officer

    p Phone: 
      a(href='tel:+40732266180') (+40)73-226-6180
    p Email: 
      a(href='mailto:alina@argodebate.ro') alina@argodebate.ro

    p Alina is one of the most active people in the Romanian debating circuit, having judged at most tournamnts this year. She is also known for being keen on having a good time, so she will be an excellent coordinator for all things fun and social.
