include ../../mixins

+article
  +section
    .profile
    +img('img/people/bogdan.jpg')

    h2 Bogdan Pelin
    h3 Volunteer Coordinator

    p Phone: 
      a(href='tel:+40722406864') (+40)72-240-6864
    p Email: 
      a(href='mailto:bogdan@argodebate.ro') bogdan@argodebate.ro

    p Bogdan has graduated from high-school this year after a succesful career in debating, getting to the quarters at ESDC 2012 and Romanian Nationals. Bogdan has proven his skill in organising volunteers and generally being a valuable member of the OrgComms of several local debating events and tournaments.
