include ../../mixins

+article
  +section
    .profile
    +img('img/people/brano.jpg')

    h2 Branislav Fecko
    h3 Member of CAP

    p Brano The Long-Winded was born among the palest of bears in the High Tatras of Slovakia. He was left to struggle through life with the affliction of having the face you see on the left. He won the national final in Slovakia in 2002, though rumor has it, it was out of sheer pity from the judges for his teammates. Realising that making long, pointless speeches was something valued in the debating community, he stuck around after high school. Through no fault of his own he ended up judging the finals of WSDC in 2008, 2009 and 2013. His ability to hide a stunning lack of competence was severely tested in 2009 and 2013, when he was also a member of the CAP for WSDC.
