include ../../mixins

+article
  +section
    .profile
    +img('img/people/chris.jpg')

    h2 Chris Sanchez
    h3 Member of CAP

    p Christopher has entered the debating scene in 2006 and has ever since fulfilled pretty much every role at tournaments but debating itself. As a teacher at the Max Born High School in Backnang near Stuttgart, he has started coaching his own school kids there and has as of then risen through the ranks of the Debating Society Germany e.V., of which he is now a Co-Chairman.

    p As a judge, he has been seen at most of the European WSDC tournaments, includung Heart of Europe, Ljutomer Debating Weekend, Komarovo St. Petersburg, EurOpen (which he’s also convening) and EurAsians in Istanbul, at which he worked on the CAP in 2013.

    p At WSDC itself, he’s judged three semifinals and one Grand Final. He helped designing motions for WSDC 2013 in Antalya and is currently crafting the bid for WSDC Stuttgart 2016. No, he never gets bored.

    p Having been asked to be on the CAP for ARGO in 2014 makes him very excited, and not just because he finally gets his shot at going to Romania for the first time ever, which took him amazingly long enough, given how many people he’s already met from there. Looking forward to working with everybody at ARGO and the participants in September!
