include ../../mixins

+article
  +section
    .profile
    +img('img/people/cipri.jpg')

    h2 Ciprian Neagu
    h3 The Convener

    p Phone: 
      a(href='tel:+40728004409') (+4)072-800-4409
    p Email: 
      a(href='mailto:ciprian@argodebate.ro') ciprian@argodebate.ro

    p Ciprian is a student of International Relations at the Academy of Economic Studies in Bucharest. As a debater he has achieved a number of titiles such as National Champion and semi-finalist of ESDC 2011. He has been a breaking judge at a number of national tournaments in the past year, and has organised two of the most prestigious schools and university debating events in Romania.
