include ../../mixins

+article
  +section
    .profile
    +img('img/people/crb.jpg')

    h2 Cﾄフﾄネin Radu-Barbu
    h3 Trips & Fun Activities

    p Phone: 
      a(href='tel:+40733201237') (+40)73-320-1237
    p Email: 
      a(href='mailto:catalin@argodebate.ro') catalin@argodebate.ro

    p Cﾄフﾄネin has been an active member of ARGO for about 6 years when it struck him that he wants to make people happy. With his newfound goal in mind, he set off to organize the (now traditional) ARGO Open Fun Activity Electives, this year including a set of optional trips to Romania's most beautiful places.
