include ../../mixins

+article
  +section
    .profile
    +img('img/people/dexter.jpg')

    h2 Andrei Olaru
    h3 Accomodations Officer

    p Phone: 
      a(href='tel:+40732444934') (+40)73-244-4934
    p Email: 
      a(href='mailto:andrei@argodebate.ro') andrei@argodebate.ro

    p Andrei, better known as Dexter in the debating world, is one of Romania’s top debaters, having been a member of the national team for WSDC three times in a row, in 2011, 2012 and 2013. He is the current National Schools Debating Champion, has been the Deputy Chief Adjudicator for the largerst novice tournament in the country and has judged at BSDC 2014.
