include ../../mixins

+article
  +section
    .profile
    +img('img/people/geetha.jpg')

    h2 Geetha Creffield
    h3 Chief Adjudicator

    p Geetha Creffield is Head of Arts at Anglo Chinese Junior College in Singapore, and is an educator who works in the fields of performance theatre, literature and debates.

    p Currently, Geetha is a postgraduate student with the Theatre Department at Goldsmiths College, University of London doing a second MA in Performance and Culture as part of the groundwork for her PhD.

    p Her interests allow Geetha to be a frequent conference presenter at international seminars on theatre and the arts. Geetha is also the artistic director of an award winning youth theatre, ACSian Theatre, which is a company committed to ensemble performance.

    p In the area of Debating, Geetha is an avid supporter and advocate of youth debates. Geetha is the coordinator for Debate and Oratory programme for the Singapore Ministry of Education’s West Zone Centre of Excellence in English Language. Geetha has also been involved with the World Schools Debating Championships since 1995 as coach, adjudicator and representative on World’s Executive Council. She is currently a board member of World Schools Incorporated. Finally, Geetha is fortunate to be the coach of the Singapore national debate team who are a delight to work and travel with.
