include ../../mixins

+submenu
  +submenu-item('app/people/cipri', T, 'Ciprian Neagu')
    +submenu-caption(T, 'The Convener')
  +submenu-item('app/people/geetha', T, 'Geetha Creffield')
    +submenu-caption(T, 'Chief Adjudicator')
  +submenu-item('app/people/scott', T, 'Scott Ralston')
    +submenu-caption(T, 'Member of the CAP')
  +submenu-item('app/people/brano', T, 'Branislav Fecko')
    +submenu-caption(T, 'Member of the CAP')
  +submenu-item('app/people/chris', T, 'Chris Sanchez')
    +submenu-caption(T, 'Member of the CAP')
  +submenu-item('app/people/serban', T, 'Șerban Pitic')
    +submenu-caption(T, 'Member of the CAP')
  +submenu-item('app/people/moise', T, 'Theodor Moise')
    +submenu-caption(T, 'Tab Master')
  +submenu-item('app/people/marius', T, 'Marius Petcu')
    +submenu-caption(T, 'The Media Manager')
  +submenu-item('app/people/bogdan', T, 'Bogdan Pelin')
    +submenu-caption(T, 'Volunteer Coordinator')
  +submenu-item('app/people/laura', T, 'Laura Drăgoi')
    +submenu-caption(T, 'Registration Officer')
  +submenu-item('app/people/vis', T, 'Victor Ștefan')
    +submenu-caption(T, 'Socials Officer')
  +submenu-item('app/people/alina', T, 'Alina Măcelaru')
    +submenu-caption(T, 'Socials Officer')
  +submenu-item('app/people/crb', T, 'Cătălin Radu-Barbu')
    +submenu-caption(T, 'Trips & Fun Activities')
  +submenu-item('app/people/dexter', T, 'Andrei Olaru')
    +submenu-caption(T, 'Accomodations Officer')
  +submenu-item('app/people/nae', T, 'Nae Șovăială')
    +submenu-caption(T, 'Hospitality & Equity Officer')
  +submenu-item('app/people/teo', T, 'Teo Șovăială')
    +submenu-caption(T, 'Hospitality & Equity Officer')
  +submenu-item('app/people/simona', T, 'Simona Olteanu')
    +submenu-caption(T, 'Aesthetics Officer')

