include ../../mixins

+article
  +section
    .profile
    +img('img/people/laura.jpg')

    h2 Laura Drăgoi
    h3 Registration Officer

    p Phone: 
      a(href='tel:+40724013239') (+40)72-401-3239
    p Email: 
      a(href='mailto:laura@argodebate.ro') laura@argodebate.ro

    p Laura was a member of the Romanian national team for WSDC 2011 an 2012 and ARGO Open 2012 Champion. She was a breaking judge at most national tournaments since 2012, and a number of important international competitions such as BSDC 2013 and EurOpen 2013. She has the experience of being with us as registration officer in 2013 as well. Currently she is a student of International Relations at the Academy of Economic Studies in Bucharest.
