include ../../mixins

+article
  +section
    .profile
    +img('img/people/marius.jpg')

    h2 Marius Petcu
    h3 Media Manager

    p Phone: 
      a(href='tel:+40729983468') (+4)072-998-3468
    p Email: 
      a(href='mailto:marius@argodebate.ro') marius@argodebate.ro

    p Marius is an authentic IT wizz. His knowledge and ability in all things technology related has aided the Romanian debating community in many ways. He is the author of the brand new, user-friendly tabbing software ARGO Tabs, which will be the tabbing machine for ARGO Open 2014. Marius is handling all media aspects, from design, print to online in this year’s edition. Currently he is a student of the Polytechnic University in Bucharest.
