include ../../mixins

+article
  +section
    .profile
    +img('img/people/moise.jpg')

    h2 Theodor Moise
    h3 Tab Master

    p Phone: 
      a(href='tel:+40721121570') (+40)72-112-1570
    p Email: 
      a(href='mailto:moise@argodebate.ro') moise@argodebate.ro

    p Moise is one the pioneers in using the ARGO Tabs software. He has been a breaking judge at a number of national tournaments in the past years and a DCA of the largest novice competition in Romania.
