include ../../mixins

+article
  +section
    .profile
    +img('img/people/nae.jpg')

    h2 Nae Șovăială
    h3 Hospitality & Equity Officer

    p Phone: 
      a(href='tel:+40722378172') (+40)72-237-8172
    p Email: 
      a(href='mailto:nae@argodebate.ro') nae@argodebate.ro

    p For some reason, everybody seems to love Nae. We're not sure why. Some of us think it's the dancing, some of us think it's his long-running debating career and some of us think he's just sexy. Having been with us ever since the inception of WS in Romania, he knows a lot of people and a lot of ways to please them, hence not one single man that has met Nae has escaped his charisma.
