include ../../mixins

+article
  +section
    .profile
    +img('img/people/scott.jpg')

    h2 Scott Ralston
    h3 Member of CAP

    p Scott Ralston was a Programme Director at Debate Mate for 2 years and ran the Nepal and Hong Kong Programmes. He is the former Director of Coaching for the Oxford Union, and has coached the UAE national schools team and is current coach of the Scotland national schools team. He was an EUDC semi-finalist in 2011, and been in the finals of Paris (where his team broke top), Edinburgh, Bath and Bristol IVs. He judged the EUDC ESL final in 2013, the English Mace Final 2013 and a WSDC Semi-final in 2013.
