include ../../mixins

+article
  +section
    .profile
    +img('img/people/serban.jpg')

    h2 Șerban Pitic
    h3 Member of CAP

    p Phone: 
      a(href='tel:+40724355957') (+40)72-435-5957
    p Email: 
      a(href='mailto:serban@argodebate.ro') serban@argodebate.ro

    p Șerban has been involved in competitive debating for the past 10 years as a debater, judge, coach and trainer. He has been part of the Romanian National Team for WSDC in 2005 and 2006, has been the coach of the national team in 2009 and was a quarter-finalist judge at WSDC 2008 in Washington DC.

    p He has been judging at numerous international schools debating tournaments in the past 5 years and has broken as adjudicator at most of them. Was a member of the CAP for ESDC 2014. In terms of university level debating, Serban is the current ESL Champion and Best Speaker at SOAS IV, was an EFL Finalist at World Universities Debating Championship 2013, Berlin, semi-finalist at Vienna IV 2013, and an ESL Finalist at Cambridge IV 2011.
    
    p In the past 2 years he has been the Convenor of the ARGO Open International Schools Debating Tournament in Romania, the Chief Adjudicator of the Romanian Debating Nationals in 2013 and is currently the coach for the national team going to Thailand WSDC in 2014.
