include ../../mixins

+article
  +section
    .profile
    +img('img/people/simona.jpg')

    h2 Simona Olteanu
    h3 Aesthetics Officer

    p Phone: 
      a(href='tel:+40723876871') (+40)72-387-6871
    p Email: 
      a(href='mailto:simona@argodebate.ro') simona@argodebate.ro

    p Simona, after returning with fresh insight from Japan, has joined our OrgComm with the intent of assuring everything looks just about right. Make sure to match your tie with your shirt ;)
