include ../../mixins

+article
  +section
    .profile
    +img('img/people/teo.jpg')

    h2 Teodor Șovăială
    h3 Hospitality & Equity Officer

    p Phone: 
      a(href='tel:+40728079047') (+40)72-807-9047
    p Email: 
      a(href='mailto:teo@argodebate.ro') teo@argodebate.ro

    p Teo is Nae's little brother. For his description, just read Nae's but with a different target age group.
