include ../../mixins

+article
  +section
    .profile
    +img('img/people/vis.jpg')

    h2 Victor Ștefan
    h3 Socials Officer

    p Phone: 
      a(href='tel:+40733013823') (+40)73-301-3823
    p Email: 
      a(href='mailto:vis@argodebate.ro') vis@argodebate.ro

    p Victor has been in the final of ARGO Open 2013 and has been the life of the party at most of its socials so he makes an excellent addition to the socials team.
