include ../../mixins
include schedule-mixins

+submenu
  +schedule-item('08:00 - 10:00', 'Breakfast at Hotel/Dorms')
  +schedule-item('09:15', 'Buses leave for school')
  +schedule-item('10:00', 'Motion for Round 6')
  +schedule-item('11:00', 'Round 6')
  +schedule-item('12:30', 'Round 7 - prepared (closed)')
  +schedule-item('14:00', 'Lunch ')
  +schedule-item('15:30', 'Motion for Round 8')
  +schedule-item('16:30', 'Round 8 (closed)')
  +schedule-item('18:00', 'Buses leave from school to accommodation')
  +schedule-item('20:30', 'Buses leave from accommodation to dinner')
  +schedule-item('21:00', 'Break Night Dinner, BP Demo Debate')
