include ../../mixins
include schedule-mixins

+submenu
  +schedule-item('08:00', 'Breakfast at Hotel/Dorms')
  +schedule-item('09:00', 'Buses leave for school')
  +schedule-item('09:30', 'Motion for quarter–finals (school)')
  +schedule-item('10:30', 'Quarter-finals')
  +schedule-item('12:00', 'Lunch')
  +schedule-item('13:00', 'Motion for semis')
  +schedule-item('14:00', 'Semis')
  +schedule-item('16:00', 'Afternoon Fun Activities (snack included)')
  +schedule-item('21:00', 'Final Break Party')
