include ../../mixins
include schedule-mixins

+submenu
  +schedule-item('08:00', 'Breakfast at Hotel/Dorms')
  +schedule-item('08:30', 'Motion for quarter–finals')
  +schedule-item('09:30', 'Quarter-finals')
  +schedule-item('11:30', 'Motion for semi-finals')
  +schedule-item('12:30', 'Semi-finals')
  +schedule-item('14:00', 'Fun Activities and Trips (snack included)')
  +schedule-item('21:00', 'Final Break Party')
