include ../../mixins
include schedule-mixins

+submenu
  +schedule-item('08:00', '10:00 – Breakfast at Hotel/Dorms')
  +schedule-item('10:00', 'Buses leave from accommodation to Bucharest')
  +schedule-item('12:00', 'Arrival in Bucharest – Tour and free time in Bucharest historical center')
  +schedule-item('16:30', 'Grand Final and Closing Ceremony (surprise venue)')
  +schedule-item('19:00', 'Reception (some food served)')
  +schedule-item('20:00', 'Buses leave for Ploiesti')
  +schedule-item('22:00', 'Goodbye Party')

