include ../../mixins
include schedule-mixins

+submenu
  +schedule-item('Until 15:00', 'Arrivals')
  +schedule-item('15:30', 'Opening Ceremony')
  +schedule-item('16:30 - 18:00', { deb: 'Workshops', jud: 'Adjudication Test & Briefing'})
  +schedule-item('18:30 - THW ban shadow banking', 'Round 1 - prepared')
  +schedule-item('20:00', 'Dinner')
  +schedule-item('21:00', { deb: 'Volunteers show you around town', jud: 'Judges social'})
