include ../../mixins
include schedule-mixins

+submenu
  +schedule-item('07:00 - 09:00', 'Breakfast at Hotel/Dorms')
  +schedule-item('08:45', 'Buses leave for school')
  +schedule-item('09:30', 'Motion for Round 2')
  +schedule-item('10:30', 'Round 2')
  +schedule-item('12:15', 'Round 3 - prepared')
  +schedule-item('13:45', 'Lunch')
  +schedule-item('14:45', 'Round 4 - prepared')
  +schedule-item('16:15', 'Motion for Round 5')
  +schedule-item('17:15', 'Round 5')
  +schedule-item('19:00', 'Dinner')
  +schedule-item('21:00', 'Cultural Night')
  +schedule-item('23:30', 'Buses leave for accommodation')
    
