include ../../mixins
include schedule-mixins

+submenu
  +schedule-item('07:00 - 09:00', 'Breakfast at Hotel/Dorms')
  +schedule-item('08:45', 'Buses leave for school')
  +schedule-item('09:30', 'Motion for Round 2')
  +schedule-item('10:30', 'Round 2')
  +schedule-item('12:15 - THS a targeted military intervention by the international community to protect civilians in Northern Nigeria against insurgencies by Boko Haram', 'Round 3 - prepared')
  +schedule-item('13:45', 'Lunch')
  +schedule-item('15:00', 'Motion for Round 4')
  +schedule-item('16:00', 'Round 4')
  +schedule-item('17:45 - THW not cooperate with democratically elected politicians who hold extremist views, on an internal level, even if it means losing political power', 'Round 5 - prepared')
  +schedule-item('19:30', 'Buses for Hotel Nord')
  +schedule-item('21:00', 'Cultural Night & Dinner')
  +schedule-item('23:30', 'Buses leave for accommodation')
    
