include ../../mixins

+submenu
  +submenu-item('app/schedule/8', T, 'September 8th')
    +submenu-caption(T, 'Monday')
  +submenu-item('app/schedule/9', T, 'September 9th')
    +submenu-caption(T, 'Tuesday')
  +submenu-item('app/schedule/10', T, 'September 10th')
    +submenu-caption(T, 'Wednesday')
  +submenu-item('app/schedule/11', T, 'September 11th')
    +submenu-caption(T, 'Thursday')
  +submenu-item('app/schedule/12', T, 'September 12th')
    +submenu-caption(T, 'Friday')
  +submenu-item('app/schedule/13', T, 'September 13th')
    +submenu-caption(T, 'Saturday')


