include ../../mixins

+article
  +section
    h2 Airport info

    p If you have not previously arranged with us to be picked up from the airport by a volunteer, here are some suggestions as of how to get to the competition. After you’ve arrived and got your luggage you will need a way to get to the railway station in order to get to Ploiesti. The name of the railway station you need to get to is 
      +maplink(44.446683, 26.074569, 'gnord')
        +maplabel
          strong Gara de Nord
          |  (Bucharest North Railway Station)
        | &nbsp;
        +mapicon
      |.

    p Assuming you arrived at the 
      +maplink(44.570365, 26.077775, 'airport')
        +maplabel Henri Coandă International Airport 
        +mapicon
      |  in Bucharest, you have 3 options:

    h3 Option 1: Taxi
    p
      | The airport has a specific policy for ordering taxis. You may order a taxi by using the touch screen devices in the Arrivals Terminal. The passengers get the taxi right outside the terminal, on the first floor, by showing the ticket issued by the automatic touch screen. The charges vary between 
      strong 1.39 lei/km – 3.50 lei/km (0.31 €/km - 0.79€/km)
      |. Our recommendation is to get a taxi from 
      strong Speed taxi
      |  which is a safe company with low fares.

    h3 Options 2: Bus
    p
      | You may get a bus to take you to the railway station. The 780 Express line connects Bucharest Henri Coandă International Airport with the Gara de Nord (main railway station). There will be 7 bus stops until Gara de Nord. Make sure you get off  because the bus doesn’t have it’s final stop there. A bus is scheduled to leave from the airport every 40 minutes and you will find it in front of the Arrivals Terminal and Departures Terminal. The price for one trip is 
      strong 3.5 lei (0.79€)
      |.
      
    h3 Option 3: "Henri Coandă Express" trains
    p
      | These trains connect Bucharest Henri Coandă International Airport and Bucharest North Railway Station. The passengers can reach the CFR “Airport Stop” by shuttle buses departing from the Arrivals Terminal.

    p Tickets for the train/transfer bus are available at the ticket office located in the International Arrivals public area. One ticket costs 
      strong 6.8 lei (1.54€)
      |. Students may benefit from a 50% discount.

    h2 When you get in Ploiești:
    p Ploiesti has 2 railway stations you may arrive at: 
      +maplink(44.925353, 26.029642, 'gsud')
        +maplabel
          strong Ploiești Sud
          |  (Ploiești South)
        | &nbsp;
        +mapicon
      |  and 
      +maplink(44.924656, 25.994636, 'gvest')
        +maplabel
          strong Ploiești Vest
          |  (Ploiești West)
        | &nbsp;
        +mapicon
      |. When you get there (preferably before) call the 
      a(href='app/people/bogdan', data-title='Bogdan Pelin').template-link.link Volunteer Coordinator
      |  to send a volunteer to help you.  	
