include ../../mixins

+article
  +section
    h2 Taxi info

    p When in a new town the easiest way to get from one place to another is by taxi so here are some tips to make sure that you have a safe journey. Our recommendation would be to 
      strong only use taxis that you ordered
      |. A list of phone numbers from taxi companies can be found below. Remember to 
      strong ask the driver to turn on the taximeter
      |. That will ensure that you will pay the correct fare. The taxi fare depends on the city. In Bucharest the average fare is 
      strong 1.39-1.40 RON/km (0.31 €/km)
      |  while in Ploiești it is 
      strong 1.79 lei/km (0.40€/km)
      |.

    p
      strong Never accept a verbally proposed price
      |  and always rely on the taximeter to establish your fare. The practice of ripping off uninformed or gullible foreigners is common in Bucharest.


    h2 Taxi service phone numbers

    h3 Bucharest: 
    p Speed Taxi 
      a(href='tel:+40722109477') (+40)72-210-9477
    p Pelican Taxi 
      a(href='tel:+40722339665') (+40)72-233-9665
    p Meridian Taxi 
      a(href='tel:+40219444') (+40)219-444

    h3 Ploiești:
    
    p Index Taxi 
      a(href='tel:+40244944') (+40)244-944
