include ../../mixins

+article
  +section
    +img('img/menu-open.png')

    p Welcome to ARGO Open. We appreciate your interest in our World Schools tournament and hope that you enjoy your stay in Romania. This year we have prepared a whole new experience for you, starting with this app. There will be quality food, accomodation and, of course, debates waiting for all.

    p This application will be your guide. From here, you can check out the schedule, find your way around town, keep track of your debates and call if you need us. Since most of you will be roaming, all the information and maps are available offline, so you shouldn't worry about your data bill.
