.circle
  .loader
    .spiner-holder-one.animate-0-25-a
      .spiner-holder-two.animate-0-25-b
        .loader-spinner
    .spiner-holder-one.animate-25-50-a
      .spiner-holder-two.animate-25-50-b
        .loader-spinner
    .spiner-holder-one.animate-50-75-a
      .spiner-holder-two.animate-50-75-b
        .loader-spinner
    .spiner-holder-one.animate-75-100-a
      .spiner-holder-two.animate-75-100-b
        .loader-spinner
